# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

.rbenv-version
.ruby-version
.rake_tasks
Gemfile.lock
tags
tmp
vendor/bundle
